@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Space+Grotesk&display=swap');

:root {

  --black: #000;
  --blue: #00BFFF;
  --violet: #667eea;
  --purple: #764ba2;
  --grey: #808080;
  --white: #fff;
  --lightGray: #e7e7e7;
  --ligthOrange: #ffbcb3;
  --ligthPink: #DDA0DD;
  --ligthGreen: #48D1CC;
  --ligthViolet: #879dff;
  --ligthGreen: #11d811d8;
  --orangeYellow: #ebbba7;
  --SpringGreen: #00FF7F;

}

* {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-image: none;

}


a {
  /* color: black; */
  text-decoration: none;
}

body {

  /* font-family: 'Lato', sans-serif; */
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* background: var(--purple); */

}

a:hover {
  /* background: rgba(0, 0, 0, 0.05); */
}

#logo {
  margin-top: 5px;
}

.logo-img {

  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.nav-bar {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: var(--violet);
  font-weight: bold;
  transition: 0.5s;

}

.nav-bar:hover {
  color: var(--ligthViolet);
  transition: 0.5s;
}

.title {

  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 40px;
  margin-left: 15%;
  color: var(--violet);
  text-shadow: 1px 1px 1px var(--grey);

}

#header {

  box-sizing: border-box;
  height: 70px;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--lightGray);
  border-bottom: var(--white) 2px solid;


}



#menu {

  display: flex;
  list-style: none;
  gap: 0.5rem;

}

#menu a {

  display: block;
  padding: 0.5rem;

}



#btn-mobile {
  display: none;
  color: var(--violet);
}

.main {

  display: block;
  margin: auto;
  text-align: center;

}

.main-h1 {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8em;
  margin: 10px;
  color: var(--violet);
  text-shadow: var(--grey) 1px 1px 1px;
  margin-bottom: 2rem;

}

.banner-fluflu {

  max-width: 100%;
  min-height: 100vh;
  border-bottom: solid 1px var(--lightGray);
  margin-bottom: 2rem;

}

.main-container {

  width: 800px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ligthOrange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.main-container- .secondColor {
  background-color: transparent;
}

.ofertas {

  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  list-style: none;
  /* border-style:outset; */

}


.ofertas>li {

  width: 160px;
  height: 160px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 3px 5px var(--ligthOrange);
  transition: 0.2s;

}

.ofertas li:hover {

  margin-top: 10px;
  padding-top: 10px;
  border: 2px solid var(--white);

}

.ofertas a {
  color: var(--lightGray);
}

.ofertas a:hover {
  color: var(--ligthOrange);

}

.ofer {
  background: url(Img/Dress.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.moda-masculina {
  background: url(Img/PantsM.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.moda-feminina {
  background: url(Img/ShortDress.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.moda-infantil {
  background: url(Img/modaInfatil.jfif) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sobre-container {

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 40vh;
  margin: auto;
  background-color: var(--ligthOrange);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
  position: relative;

}

.image-rosto {

  display: flex;
  width: 160px;
  height: 250px;
  border-radius: 10px;
  border: solid 1px var(--lightGray);
  margin-right: 1rem;

}

.main-h2 {

  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  color: var(--lightGray);
  text-shadow: var(--grey) 1px 1px 1px;
  position: absolute;
  top: 0;
  top: 3.5rem;
  margin-right: 24em;

}



.p-sobre {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  color: var(--grey);
  width: 600px;
  font-size: 14px;
  text-align: justify;
  line-height: 1.4rem;
  padding: 1rem;

}

.footer-container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--lightGray);
  border-top: 1px solid var(--white);

}

.h2-subtitle {

  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 40px;
  color: var(--violet);
  text-shadow: 1px 1px 1px var(--grey);

}

.social-media {

  float: right;
  margin-right: 15rem;
  padding: 1rem;
}

.social-media li {

  text-decoration: none;
  list-style: none;
  display: inline-block;


}

i {

  color: var(--violet);
  margin: 0px 10px 0 0;
  transition: 0.5s;
}

i:hover {
  color: var(--ligthViolet);
}

/* promocoes  */

.promocoes-container {
  display: flex;
  flex-direction: column;
}

.promocoes-container .main-h1 {
  text-align: center;
}

.shooping-container-h2 {

  font-family: 'Space Grotesk', sans-serif;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--ligthViolet);
  text-align: center;
  margin: 10px;

}

.shooping-container {

  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;

}

.roupas-infantil {

  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--lightGray);
  padding: 1rem;
  margin: 1rem;

}

.title-cart {

  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  color: var(--blue);
  padding-bottom: 10px;

}

.infat {

  width: 130px;
  height: 130px;
  border-radius: 5px;
  margin-left: 20px;

}

.roupas-infatil-0 {

  padding: 1vh;
  display: flex;
  flex-direction: column;
  position: relative;

}

.price-then {

  position: absolute;
  width: 200px;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--grey);
  font-size: 15px;
  top: -9em;
  left: 25vh;

}

.price-then+.price-then {

  position: absolute;
  font-size: 16px;
  font-weight: bold;
  text-decoration: line-through;
  top: -6vh;
  left: 25vh;

}

.price {

  position: absolute;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  color: var(--ligthGreen);
  font-size: 18px;
  top: -3vh;
  left: 25vh;

}

.car {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--ligthGreen);
  border-radius: 5px;
  border: none;
  padding: 1vh;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;

}

.car:hover {
  background-color: var(--SpringGreen);
}

/* cart  */

.cart-container-h1 {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
  margin: 1rem;
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px 2px var(--ligthViolet);

}



/* formas de pagamento */

.Pay-container {

  position: absolute;
  width: 300px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 1vh;
  margin: 1vh;
  top: 22vw;
  right: 25vw;
}

.payment {

  font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 1em;
  color: var(--violet);

}

.cardPay {

  width: 51px;
}

/* contact  */

.contact-h1 {

  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 2vw;
  color: var(--white);
  text-shadow: 1px 1px 1px var(--lightGray);

}

.main-contact-container {

  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-contact-container {

  width: 100%;
  height: 600px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--ligthOrange);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--white);
}

.ul-contact-container {

  width: 400px;
  text-decoration: none;
  list-style: none;

}

.ul-contact-container i {

  width: 400px;
  padding: 1.7vh;
  margin-top: 2vw;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--lightGray);
  transition: 0.5s;

}

.ul-contact-container i:hover {

  background-color: var(--ligthViolet);
  color: var(--white);
}

.social-media{
  margin-right: 5%;
}

/* mobile  */
@media(max-width: 1280px) {


  .main-h1 {

    font-size: 22px;
  }

  .social-media {

    float: none;
    margin-right: 0;
    display: flex;
    justify-content: center;

  }

}

@media(max-width: 1080px) {

  .title {
    text-shadow: none;
    font-size: 35px;
  }

  .banner-fluflu {
    min-height: 810px;
  }


  .social-media {

    float: none;
    margin-right: 0;
    display: flex;
    justify-content: center;

  }

  .h2-subtitle {
    text-shadow: none;
    font-size: 35px;
  }

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 4%;
    margin-bottom: -1%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;
    font-size: 30px;

  }

  .shooping-container {

    max-width: 980px;
    justify-content: center;

  }

  .roupas-infantil {

    width: 400px;
    margin: 20px;

  }

  .title-cart {
    margin-top: 10px;
  }

  .infat {

    width: 120px;
    height: 120px;
    margin: 10px;

  }

  .price-then {

    width: 200px;
    font-size: 14px;
    top: -19vh;
    left: 17vh;
    padding: 1em;

  }

  .price-then+.price-then {

    top: -7.7vh;
    left: 17vh;

  }

  .price {

    top: -30px;
    left: 19vh;
    

  }

  .car {
    margin-top: 0%;
  }
}

@media(max-width: 926px) {

  .title {

    font-size: 35px;
    text-shadow: none;

  }

  .main-h1 {

    font-size: 20px;
    text-shadow: none;
  }

  .social-media {

    float: none;
    margin-right: 0;
    display: flex;
    justify-content: center;

  }

  .h2-subtitle {

    text-shadow: none;
    font-size: 35px;
  }

  /* promoções  */

  .roupas-infantil {
    padding: 1rem;
  }

  .price-then {

    top: -37vh;
    left:30vh;
  }

  .price-then+.price-then {

    top: -4em;
    left: 30vh;
  }

  .price{
    left: 33.6vh;
  }

}

@media(max-width: 915px) {

  .title {

    font-size: 30px;
    text-shadow: none;

  }

  .banner-fluflu {
    min-height: 500px;
  }

  .main-h1 {

    font-size: 20px;
    text-shadow: none;
  }

  .social-media {

    float: none;
    margin-right: 0;
    display: flex;
    justify-content: center;

  }

  .h2-subtitle {

    text-shadow: none;
    font-size: 30px;
  }

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 4%;
    margin-bottom: -1%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;

  }

  .shooping-container {

    max-width: 780px;
    justify-content: center;
    margin: auto;

  }

  .roupas-infantil {

    width: 333px;
    padding: 10px;

  }

  .title-cart {

    margin-top: 10px;
    font-size: 15px;

  }

  .infat {

    width: 110px;
    height: 110px;
    margin: 10px;

  }

  .price-then {

    width: 200px;
    top: -35vh;
    left: 29vh;
    padding: 1em;
    font-size: 13px;

  }

  .price-then+.price-then {

    top: -60px;
    left: 38%;

  }

  .price {

    top: -30px;
    left: 135px;
    line-height: 27px;
  }

  .car {
    margin-top: 0%;
  }
}



@media(max-width: 883px) {

  #heade {
    border-bottom-width: -2px;
  }

  #logo {
    margin-top: 0%;
  }

  #menu {
    margin-left: 0%;
    gap: none;
  }

  .title {

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .nav-bar {

    font-size: 14px;
    margin-left: -10px;
    margin-right: 0%;

  }

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 4%;
    margin-bottom: -1%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;
    font-size: 30px;

  }

  .shooping-container {

    max-width: 780px;
    margin: auto;

  }

  .roupas-infantil {

    width: 333px;
    margin: 10px;

  }

  .title-cart {
    margin-top: 10px;
  }

  .infat {

    width: 110px;
    height: 110px;
    margin: 10px;

  }

  .price-then {

    width: 210px;
    top: -35vh;
    left: 28vh;
    padding: 1em;

  }

  .price-then+.price-then {
    top: -65px;
  }

  .price {

    top: -8vh;
    left: 135px;
    line-height: 27px;
  }

  .car {
    margin-top: 0%;
  }

}

@media(max-width:870px) {

  #header {
    height: 80px;
  }

  .logo-img {

    width: 65px;
    height: 65px;

  }

  .title {

    font-size: 30px;
    text-shadow: none;

  }

  .banner-fluflu {
    min-height: 500px;
  }



  .main-container {
    width: 750px;
    overflow-x: hidden;
  }

  .navgation {

    display: flex;
    overflow-x: auto;
  }


  .main-h1 {

    font-size: 22px;
    font-weight: normal;

  }

  .ofertas {

    width: 1200px;
    padding: 1em;

  }

  .sobre-container {

    width: 750px;
    display: block;

  }

  .image-rosto {

    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 1rem;

  }

  .main-h2 {

    font-size: 30px;
    bottom: -0.2rem;
    top: 15%;
    left: 4em;

  }

  .p-sobre {

    width: 700px;
    margin: auto;

  }

  .h2-subtitle {
    font-size: 30px;
    text-shadow: none;
  }

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 4%;
    margin-bottom: -1%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;
    font-size: 30px;

  }

  .shooping-container {

    max-width: 780px;
    margin: auto;

  }

  .roupas-infantil {

    width: 350px;
    margin: 15px;

  }

  .title-cart {
    margin-top: 10px;
  }

  .infat {

    width: 110px;
    height: 110px;

  }

  .price-then {

    top: -39vh;
    right: 2vh;

  }

  .price-then+.price-then {

    top: -17vh;
    left: 30vh;

  }

  .price {

    top: -10vh;
    left: 34vh;
    font-size: 18px;

  }

  .car {
    margin-top: 0%;
  }

  /* cart  */

  #header {
    padding: 1rem;
  }

  .cart-container {

    position: relative;
    flex-direction: column;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 520px;
    top: 5%;
    right: 0%;
    left: 5%;

  }


  .thead-table {
    font-size: 15px;
  }

  .td-produto .infat {
    width: 90px;
    height: 90px;
  }


  .td-price, .td-total {
    font-size: 15px;
  }


  .final-pay-container {

    width: 500px;
    height: 178px;
    justify-content: center;
    margin-left: 16%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 400px;
    top: 90%;
    right: 0%;
    left: 16%;

  }

  /* contact  */

  .main-contact-container {
    min-height: 60vh;
  }

  .nav-contact-container {

    width: 400px;
    height: 400px;
    justify-content: center;

  }

  .ul-contact-container i {

    width: 300px;
    margin-top: 5vw;

  }

  .social-media {

    margin-right: 0;
    float: none;
    display: flex;
    justify-content: center;

  }
}

@media(max-width:854px){

  .price-then{

    width: 200px;
    top: -36vh;
    left: 31vh;
  }

  .price-then + .price-then{
    top: -17vh;
  }
  .price{

    top:-9vh;
    right: -20vh;
  }
}

@media(max-width:844px) {

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 4%;
    margin-bottom: -1%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;
    font-size: 30px;

  }

  .shooping-container {

    max-width: 780px;
    margin: auto;

  }

  .roupas-infantil {

    width: 350px;
    margin: 15px;

  }

  .title-cart {
    margin-top: 10px;
  }

  .infat {

    width: 110px;
    height: 110px;

  }

  .price-then {

    width: 200px;
    top: -37vh;
    right: -8px;

  }

  .price-then+.price-then {

    top: -18vh;
    right: 0px;

  }

  .price {

    top: -37px;
    font-size: 18px;

  }

  .car {
    margin-top: 0%;
  }
}


@media(max-width:812px) {

  /* seção promoções  */

  .roupas-infantil {
    padding: 1rem;
  }

  .price-then {

    top: -38vh;
    right: -5%;

  }

  .price-then+.price-then {

    top: -18vh;
    right: -7vh;

  }

  .price {

    top: -35px;
    left: 34vh;
  }
}

@media(max-width:810px){

  .price-then{

    width: 200px;
    top:-13vh;
    left: 11vh;
  }

  .price-then + .price-then{

    top:-6vh;
    left: 11vh;

  }

  .price{

    top:-3.1vh;
    left: 42%;
    right: 0vh;

  }
}

@media(max-width:800px){

  /* seção promoções  */

  .price-then{

    top:-39vh;
    left: 33vh;

  }
  .price-then + .price-then{

    top:-18vh;
    left: 32vh;

  }

  .price{

    top:-9vh;
    left: 36.3vh;

  }
}

@media (max-width: 760px) {

  .logo-img {

    width: 60px;
    height: 60px;
    padding: 0;

  }

  #menu {

    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--lightGray);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

  }

  #nav.active #menu {

    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;

  }

  #menu a {

    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);

  }

  #btn-mobile {

    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;

  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }


  .title {

    font-size: 30px;
    margin-left: 0%;
    text-shadow: none;

  }

  .banner-fluflu {
    min-height: 500px;
  }



  .main-container {
    width: 660px;
    overflow-x: hidden;
  }

  .navgation {

    display: flex;
    overflow-x: auto;
  }


  .main-h1 {

    font-size: 22px;
    font-weight: normal;

  }

  .ofertas {

    width: 1200px;
    padding: 1em;

  }

  .sobre-container {

    width: 660px;
    display: block;

  }

  .image-rosto {

    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 1rem;

  }

  .main-h2 {

    font-size: 30px;
  }

  .p-sobre {

    width: 580px;
    margin: auto;

  }

  .h2-subtitle {
    font-size: 30px;
    text-shadow: none;
  }

  /* promoções */

  .main-h1 {

    font-size: 25px;
    margin-top: 5%;
    margin-bottom: -2%;

  }

  .shooping-container-h2 {

    text-align: center;
    margin-left: 0%;
    margin: 20px;
    font-size: 30px;

  }

  .shooping-container {

    max-width: 780px;
    justify-content: center;
    margin: auto;

  }

  .roupas-infantil {

    width: 333px;
    margin: 10px;

  }

  .title-cart {

    margin-top: 10px;
    font-size: 18px;

  }

  .infat {

    width: 110px;
    height: 110px;
    margin: 10px;

  }

  .price-then {

    width: 200px;
    top: -40vh;
    left: 32vh;
    padding: 1em;

  }

  .price-then+.price-then {

    left: 32vh;
    top: -18vh;
  }

  .price {

    top: -10vh;
    left: 36.2vh;
    right: 0%;
    line-height: 29px;

  }

  .car {
    margin-top: 0%;
  }

  /* cart  */

  #header {
    padding: 1rem;
  }

  .cart-container {

    position: relative;
    flex-direction: column;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 520px;
    top: 5%;
    right: 0%;
    left: 5%;

  }


  .thead-table {
    font-size: 15px;
  }

  .td-produto .infat {
    width: 90px;
    height: 90px;
  }


  .td-price, .td-total {
    font-size: 15px;
  }


  .final-pay-container {

    width: 500px;
    height: 178px;
    justify-content: center;
    margin-left: 16%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 400px;
    top: 90%;
    right: 0%;
    left: 16%;

  }

  /* contact  */

  .main-contact-container {
    min-height: 60vh;
  }

  .nav-contact-container {

    width: 400px;
    height: 400px;
    justify-content: center;

  }

  .ul-contact-container i {

    width: 300px;
    margin-top: 5vw;

  }

  .social-media {

    margin-right: 0;
    float: none;
    display: flex;
    justify-content: center;

  }
}

@media(max-width:667px) {

  .logo-img {

    width: 60px;
    height: 60px;
    padding: 0;

  }

  #menu {

    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--lightGray);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;

  }

  #nav.active #menu {

    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;

  }

  #menu a {

    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);

  }

  #btn-mobile {

    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;

  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }


  .title {

    font-size: 30px;
    margin-left: 0%;
    text-shadow: none;

  }

  .banner-fluflu {
    min-height: 500px;
  }



  .main-container {
    width: 560px;
    overflow-x: hidden;
  }

  .navgation {

    display: flex;
    overflow-x: auto;
  }


  .main-h1 {

    font-size: 20px;
    font-weight: normal;

  }

  .ofertas {

    width: 1200px;
    padding: 1em;

  }

  .sobre-container {

    width: 560px;
    display: block;

  }

  .image-rosto {

    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 1rem;

  }

  .main-h2 {

    font-size: 30px;
    left: 55px;
  }

  .p-sobre {

    width: 480px;
    margin: auto;

  }

  .h2-subtitle {
    font-size: 30px;
    text-shadow: none;
  }

  /* seção de promoções */

  .main-h1 {
    font-size: 25px;
  }

  .roupas-infantil {
    width: 433px;
  }

  .infat {
    width: 180px;
    height: 180px;
  }

  .price-then {

    font-size: 16px;
    top: -55vh;
    left: 50vh;

  }

  .price-then+.price-then {

    margin-top: 15px;
    font-size: 18px;
    left: 50.2vh;
    top: -24vh;

  }

  .price {

    font-size: 18px;
    left: 55vh;
    top: -16vh;
    margin-top: 18px;

  }

  .add-cart {
    padding: 10px;
  }

  /* cart  */

  #header {
    padding: 1rem;
  }

  .cart-container {

    position: relative;
    flex-direction: column;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 520px;
    top: 5%;
    right: 0%;
    left: 5%;

  }


  .thead-table {
    font-size: 15px;
  }

  .td-produto .infat {
    width: 90px;
    height: 90px;
  }


  .td-price, .td-total {
    font-size: 15px;
  }


  .final-pay-container {

    width: 500px;
    height: 178px;
    justify-content: center;
    margin-left: 16%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 400px;
    top: 90%;
    right: 0%;
    left: 16%;

  }

  /* contact  */

  .main-contact-container {
    min-height: 60vh;
  }

  .nav-contact-container {

    width: 400px;
    height: 400px;
    justify-content: center;

  }

  .ul-contact-container i {

    width: 300px;
    margin-top: 5vw;

  }

  .social-media {

    margin-right: 0;
    float: none;
    display: flex;
    justify-content: center;

  }
}

@media(max-width:540px) {

  .banner-fluflu {
    height: 420px;
  }

  .social-media {
    margin-left: 0%;
    margin-right: 35%;
  }

  .h2-subtitle {
    margin-left: 0%;
  }

  /* seção de promoções */

  .price {}

  /* cart  */

  .cart-container, #header {
    padding: 1.2vh;
  }

  .cart-container {

    position: relative;
    flex-direction: column;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 490px;
    top: 5%;
    right: 0%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;


  }


  .thead-table {
    font-size: 15px;
  }

  .td-produto .infat {
    width: 90px;
    height: 90px;
  }


  .td-price, .td-total {
    font-size: 15px;
  }

  .td-quantity {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;

  }


  .final-pay-container {

    width: 500px;
    height: 178px;
    justify-content: center;
    margin-left: 13%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 400px;
    top: 90%;
    right: 0%;
    left: 13%;

  }

  /* contact  */

  .main-contact-container {
    min-height: 60vh;
  }

  .nav-contact-container {

    width: 400px;
    height: 400px;
    justify-content: center;

  }

  .ul-contact-container i {

    width: 300px;
    margin-top: 5vw;

  }

}

@media(max-width:428px) {


  .title {

    font-size: 30px;
    margin-left: 1em;
  }

  .banner-fluflu {
    min-height: 414px;
  }


  .main-container {

    width: 370px;
    overflow-x: hidden;
  }

  .navgation {

    display: flex;
    overflow-x: auto;
  }


  .main-h1 {

    font-size: none;
    font-weight: normal;
    text-shadow: none;

  }

  .ofertas {

    width: 1200px;
    padding: 1em;

  }

  .sobre-container {

    width: 370px;
    display: block;


  }

  .image-rosto {

    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 1rem;

  }

  .main-h2 {

    top: 15%;
    left: 22px;
    padding: auto;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--black);

  }

  .p-sobre {

    width: 300px;
    margin: auto;
    font-size: 12px;

  }

  .h2-subtitle {
    font-size: 25px;
  }

  .social-media {
    margin: auto;
  }

  i {
    width: 10px;
  }

  /* seção de promoções */

  .main-h1 {
    font-size: 20px;
  }

  .shooping-container-h2 {
    margin: 20px;
  }

  .shooping-container {

    width: 380px;
    justify-content: center;
    align-items: center;

  }

  .title-cart {
    font-size: 18px;
  }

  .infat {

    width: 120px;
    height: 120px;

  }

  .price-then {

    font-size: 15px;
    width: 180px;
    line-height: 15px;
    top: -17vh;
    left: 14vh;

  }

  .price-then+.price-then {

    font-size: 15px;
    left: 14vh;
    top: -8vh;
    line-height: -15%;

  }

  .price {

    left: 15.7vh;
    top: -5.5vh;

  }

  .h2-subtitle {
    font-size: 30px;
  }

  /* cart  */

  .cart-container {

    position: relative;
    flex-direction: column;
    font-size: 15px;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 390px;
    top: 5%;
    right: 0%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .thead-table {
    font-size: 14px;
  }

  .td-produto .infat {
    width: 80px;
    height: 80px;
  }


  .td-price, .td-total {
    font-size: 13px;
  }

  .td-quantity {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.90rem 0;

  }


  .final-pay-container {

    width: 360px;
    height: 178px;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 340px;
    top: 90%;
    right: 0%;
    left: 8%;

  }

  /* contact  */

  .contact-h1 {
    margin-top: 5vh;
  }

  .main-contact-container {
    /* min-height: 65vh; */
  }

  .nav-contact-container {

    width: 300px;
    height: 360px;
    justify-content: center;

  }

  .ul-contact-container i {
    width: 200px;
  }

}

@media (max-width:414px) {

  #header {
    padding: 1rem;
  }

  .logo-img {

    width: 60px;
    height: 60px;

  }

  .title {

    font-size: 25px;
    margin-left: 1em;
  }

  .banner-fluflu {
    min-height: 500px;
  }


  .main-container {

    width: 370px;
    overflow-x: hidden;
  }

  .navgation {

    display: flex;
    overflow-x: auto;
  }


  .main-h1 {

    font-size: none;
    font-weight: normal;
    text-shadow: none;

  }

  .ofertas {

    width: 1200px;
    padding: 1em;

  }

  .sobre-container {

    width: 370px;
    display: block;


  }

  .image-rosto {

    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 1rem;

  }

  .main-h2 {

    top: 15%;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--black);

  }

  .p-sobre {

    width: 300px;
    margin: auto;
    font-size: 12px;

  }

  .h2-subtitle {
    font-size: 25px;
  }

  .social-media {
    margin: auto;
  }

  i {
    width: 10px;
  }

  /* seção de promoções */

  .main-h1 {
    margin: 10px;
  }

  .shooping-container-h2 {
    font-size: 25px;
  }

  .shooping-container {

    width: 370px;
    justify-content: center;
    align-items: center;

  }

  .title-cart {
    font-size: 18px;
  }

  .infat {

    width: 120px;
    height: 120px;

  }

  .price-then {

    top: -16.5vh;
    left: 15vh;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;

  }

  .price-then+.price-then {

    top: -7.7vh;
    left: 15vh;
    font-size: 15px;

  }

  .price {

    width: 200px;
    top: -5.7vh;
    left: 16vh;
    font-size: 15px;

  }



  /* cart  */

  .cart-container {

    position: relative;
    flex-direction: column;
    font-size: 15px;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 390px;
    top: 5%;
    right: 0%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .thead-table {
    font-size: 14px;
  }

  .td-produto .infat {
    width: 80px;
    height: 80px;
  }


  .td-price, .td-total {
    font-size: 13px;
  }

  .td-quantity {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.90rem 0;

  }


  .final-pay-container {

    width: 360px;
    height: 178px;
    justify-content: center;
    margin-left: 5%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 340px;
    top: 90%;
    right: 0%;
    left: 8%;

  }

  /* contact  */

  .contact-h1 {
    margin-top: 5vh;
  }

  .main-contact-container {
    /* min-height: 65vh; */
  }

  .nav-contact-container {

    width: 300px;
    height: 360px;
    justify-content: center;

  }

  .ul-contact-container i {
    width: 200px;
  }

}



@media (max-width:393px) {

  .main-container {
    width: 350px;
    padding: 1rem;
  }

  .main-h1 {
    text-shadow: none;
    font-size: 13px;
  }

  .sobre-container {
    width: 350px;
  }

  .main-h2 {
    font-size: 17px;
    text-shadow: 1px 1px 1px var(--black);
  }

  .p-sobre {
    width: 260px;
  }

  /* seção de promoções */

  .main-h1 {
    font-size: 23px;
  }

  .shooping-container {

    width: 360px;
    justify-content: center;
    align-items: center;

  }

  .title-cart {
    font-size: 18px;
  }

  .infat {

    width: 120px;
    height: 120px;

  }

  .price-then {

    width: 180px;
    line-height: 14px;
    top: -17.4vh;
    left: 16vh;

  }

  .price-then+.price-then {

    top: -8vh;
    left: 16vh;

  }

  .price {

    left: 17.2vh;
    top: -6vh;

  }

  /* cart  */

  .cart-container {

    position: relative;
    flex-direction: column;
    font-size: 15px;

  }

  .dvi-talble {

    position: absolute;
    width: 100%;
    max-width: 360px;
    top: 5%;
    right: 0%;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em -1em;

  }


  .thead-table {
    font-size: 12px;
  }

  .td-produto .infat {
    width: 76px;
    height: 76px;
  }


  .td-price, .td-total {
    font-size: 13px;
  }

  .td-quantity {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em -0.77em;

  }


  .final-pay-container {

    width: 330px;
    height: 178px;
    justify-content: center;
    margin-left: 6%;
    margin-top: 10%;

  }

  .resum-of-pay {
    font-size: 15px;
  }

  .total {
    font-size: 15px;
  }


  .Pay-container {

    width: 290px;
    top: 90%;
    right: 0%;
    left: 12%;

  }

  @media (max-width:375px) {

    #header {
      padding: 1em;
    }

    .logo-img {

      width: 60px;
      height: 60px;

    }


    .title {

      font-size: 25px;
      text-shadow: none;

    }

    .banner-fluflu {
      min-height: 300px;
    }



    .main-container {

      width: 310px;
      padding: 1rem;
      overflow-x: hidden;

    }

    .navgation {

      display: flex;
      overflow-x: auto;
    }


    .main-h1 {

      font-size: 15px;
      font-weight: normal;
      text-shadow: none;

    }

    .ofertas {

      width: auto;
      padding: 1em;

    }

    .sobre-container {

      width: 310px;
      display: block;
      padding: 1rem;

    }

    .image-rosto {

      width: 130px;
      height: auto;
      margin: auto;
      margin-top: 1rem;

    }

    .main-h2 {

      top: 12%;
      font-size: 15px;
      right: 15px;
      text-shadow: 1px 1px 1px var(--black);

    }

    .p-sobre {

      width: 250px;
      margin: auto;
      font-size: 12px;

    }

    .h2-subtitle {

      font-size: 25px;
      text-shadow: none;

    }

    .footer-container {
      height: 85px;
    }

    i {
      width: 10px;
    }

    /* seção de promoções */

   /* .price-then{

    top: -21vh;
    left: 19vh;

   }

   .price-then + .price-then{

    top: -11vh;
    left: 19vh;

   }

   .price{
    
    top: -8vh;
    left: 20.3vh;

   } */
 

    /* cart  */

    .cart-container {

      position: relative;
      flex-direction: column;
      font-size: 12px;

    }

    .dvi-talble {

      position: absolute;
      width: 100%;
      max-width: 340px;
      top: 5%;
      left: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

    }


    .thead-table {
      font-size: 12px;
    }

    .td-produto .infat {
      
      width: 75px;
      height: 75px;
      margin: 0 -1em 0 1rem;

    }


    .td-price, .td-total {
      font-size: 12px;
    }

    .td-quantity {

      display: flex;
      justify-content: center;
      align-items: center;

    }


    .final-pay-container {

      width: 330px;
      height: 178px;
      margin-left: 5%;
      margin-top: 10%;

    }

    .resum-of-pay {
      font-size: 15px;
    }

    .total {
      font-size: 15px;
    }


    .Pay-container {

      width: 290px;
      top: 90%;
      right: 0%;
      left: 10%;

    }

  }
  

  @media(max-width:360px){

    /* seção promoções  */

    .main-h1{
      font-size: 20px;
    }

    .shooping-container{
      width: 340px;
    }

    .price-then{

      width: 170px;
      top: -18vh;
      left: 16.7vh;

    }

    .price-then + .price-then{

      left: 16.7vh;
      top: -9vh;

    }

    .price{

      top: -7vh;
      left: 17.9vh;

    }

  }

}
